In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('diabetes.csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df.shape

(768, 9)

In [12]:
X=df.iloc[:,0:8]

In [13]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [14]:
y=df.iloc[:,-1]

In [15]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
clf2 = DecisionTreeClassifier()

In [19]:
clf2.fit(X_train,y_train)

DecisionTreeClassifier()

In [20]:
y_pred2 = clf2.predict(X_test)

## Confusion Matrix

### A confusion matrix is nothing but  a table of TP,FP,TN,FN

###    TP  |  FN
###    FP  |  TN

In [28]:
def true_positive(y_true,y_pred):
    # function to calculate true postive
    tp=0
    for yt,yp in zip(y_true,y_pred):
        if (yt==1 and yp==1):
            tp+=1
    return tp


def true_negative(y_true,y_pred):
    # function to calculate true postive
    tn=0
    for yt,yp in zip(y_true,y_pred):
        if (yt==0 and yp==0):
            tn+=1
    return tn



def false_positive(y_true,y_pred):
    # function to calculate true postive
    fp=0
    for yt,yp in zip(y_true,y_pred):
        if (yt==0 and yp==1):
            fp+=1
    return fp

def false_negative(y_true,y_pred):
    # function to calculate true postive
    fn=0
    for yt,yp in zip(y_true,y_pred):
        if (yt==1 and yp==0):
            fn+=1
    return fn

In [31]:
print(true_positive(y_test,y_pred2) )

28

In [32]:
print(true_negative(y_test,y_pred2) )

78

In [33]:
print(false_positive(y_test,y_pred2) )

21

In [34]:
print(false_negative(y_test,y_pred2) )

27

In [36]:
print(true_positive(y_test,y_pred2), false_negative(y_test,y_pred2))
print(false_positive(y_test,y_pred2),true_negative(y_test,y_pred2))

28 27
21 78